*{
    margin: 0;
    font-family: Candara;
    color: white;
    box-sizing: border-box;
}

body{
    background: url(https://i.pinimg.com/originals/77/42/0d/77420df3f9e33db5b79ee25455d3340e.png);
    display: flex;
    align-items: center;
    flex-direction: column;
}

header{
    margin: 2.5rem 1rem 1.5rem 1rem;
    text-align: center;
}

#description{
    color: rgba(255, 255, 255, 0.85);
    margin-top: .7rem;
    font-style: italic;
}

#survey-form{
    background-color: rgba(92, 92, 92, 0.8);
    width: 100%;
    border-radius: 1%;
}

label{
    display: flex;
    align-items: center;
}

.form-group{
    width: 85%;
    margin: 1em auto;
}

.description-text{
    font-size: 1.5rem;
    margin-bottom: .7em;
    font-weight: 550;
}

.form-input{
    color: #495057;
    width: 100%;
    height: 2.7rem;
    font-size: 1.2rem;
    border: rgb(54, 54, 54) 2px solid;
    border-radius: 7px;
    padding-left: .5rem;
}

#dropdown{
    color: #495057;
    width: 100%;
    height: 2.7rem;
    font-size: 1.2rem;
    border: rgb(54, 54, 54) 2px solid;
    border-radius: 7px;
    padding-left: .5rem;
}

option{
    color: #495057;
}

.radio-label{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.input-radio{
    margin-right: .5rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.checkbox-label{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.input-checkbox{
    margin-right: .5rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

#input-textarea{
    width: 100%;
    height: 10rem;
    resize: vertical;
    font-size: 1.2rem;
}

#submit-button{
    width: 100%;
    height: 3.2rem;
    color: #495057;
    font-size: 1.5rem;
    background-color: rgb(111, 207, 67);
    border: none;
}

#first-div{
    margin-top: 3rem;
}

#last-div{
    margin-bottom: 3rem;
}

@media (min-width: 1200px){
    #survey-form{
        width: 55vw;
    }
}